header {
	position: fixed;
	width: 100%;
	padding: 10px 0;
	display: block;
	top: 0;
	left: 0;
	z-index:10;
	background:$rcs-tan;
	border-bottom:3px solid $off-black;
	
	img {
		width:75%;
	}
}

.introduction {
	
	padding:150px 0;
	
	h2 {
		color:$white;
		font-size:2em;
		text-transform: uppercase;
		text-align:center;
		
		@include sb-media(61em) {
		
			font-size:5em;	
		
		}	
		
	}
	
	p {
		margin-top:10px;
		border-top:3px solid $rcs-red;
		padding:20px 0;
		color:white;
		text-align: center;	
	}	
}